doctype html
head
    meta(charset='UTF-8')
    title Welcome to Product Manager
    link(href='../../stylesheets/bootstrap.css' rel='stylesheet' type='text/css')
    link(href='../../stylesheets/main.css' rel='stylesheet' type='text/css')
    link(href='../../stylesheets/bootstrap-grid.css' rel='stylesheet' type='text/css')
    link(href='../../stylesheets/bootstrap-reboot.css' rel='stylesheet' type='text/css')
    script(src='../../javascripts/jquery.js')

    style.
        #main-section-container {padding: 0 30%;}
        .shadow-box {
            max-width: 25% !important;
            padding: 2% 2% !important;
        }

        .display-section th {
            text-transform: uppercase;
            color: white;
        }

        .display-section td {
            color: white;
        }


    // Navigation menu
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
        a.navbar-brand(href='../index.html')
            b Product Manager
        div.navbar-nav.ml-auto
            button.btn.btn-outline-light.my-2.my-sm-0(type="button")
                a.light.simple(href="/logout") Logout&nbsp
    br
    br
    div.shadow-box.container.text-center
        p.dark Welcome to the buyer panel, #{username}!
    br
    br
    #main-section.display-section.container-fluid
        br
        h2.text-center Display Products
        br
        form#display-product-form(action="./buyer-panel/fetch-products")
            button.btn.btn-outline-light.btn-lg.btn-block#display-form(type='button') Display Products
            br
            p#display-product-form-feedback
        div#products
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    #footer.container-fluid
        p.text-center Product Manager | Designed with &#x2764; by Hasnain Naeem.

    script.
        // handling display products feature
        let $displayProductFeedback = $('#display-product-form-feedback');
        $('#display-form').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                    type: "POST",
                    url: "/buyer-panel/fetch-products",
                    beforeSend: function () {
                        $displayProductFeedback.text('Fetching data from the database..')
                    },
                    contentType: "application/json",
                    dataType: "json"
                }
            ).done(function (data) {
                let review = "None";
                if (data.status === "success") {
                    $displayProductFeedback.text("");
                    let productsArr = data.products;
                    let htmlContent = "<table class='table-striped table'>" +
                        "<thead class='thead-dark'>" +
                        "<tr>" +
                        "<th scope='col' style='width: 10%'>#</th>" +
                        "<th scope='col' class='name' style='width: 10%'>Name</th>" +
                        "<th scope='col' class='description' style='width: 40%'>Description</th>" +
                        "<th scope='col' class='price' style='width: 10%'>Price</th>" +
                        "<th scope='col' class='category' style='width: 10%'>Category</th>" +
                        "<th scope='col' class='seller' style='width: 10%'>Seller</th>" +
                        "<th scope='col' class='review' style='width: 10%'>Review</th>" +
                        "</tr>" +
                        "</thead>" +
                        "<tbody>"
                    for(let i =0; i < productsArr.length; i++){
                        review =productsArr[i].review;
                        if(!review)
                            review = "Not Reviewed Yet";
                        htmlContent += "<tr>"
                        htmlContent += "<th scope='row'>" + (i+1) +"</th>";
                        htmlContent += "<td class='name'>" + productsArr[i].name + "</td>";
                        htmlContent += "<td class='description'>" + productsArr[i].description + "</td>";
                        htmlContent += "<td class='price'>" + productsArr[i].price + " PKR</td>";
                        htmlContent += "<td class='category'>" + productsArr[i].category + "</td>";
                        htmlContent += "<td class='seller'>" + productsArr[i].seller + "</td>";
                        htmlContent += "<td class='review'>" + review + "</td>";
                        htmlContent += "</tr>"
                    }
                    htmlContent += '</tbody></table>';
                    $('div#products').html(htmlContent);
                } else {
                    $displayProductFeedback.text("Failed to fetch data from the server. Please try again.");
                    $displayProductFeedback.attr("class", "warning");
                }
            });
        });
