doctype html
html
    head
        title= title
        link(href='../../stylesheets/bootstrap.css' rel='stylesheet' type='text/css')
        link(href='../../stylesheets/main.css' rel='stylesheet' type='text/css')
        link(href='../../stylesheets/bootstrap-grid.css' rel='stylesheet' type='text/css')
        link(href='../../stylesheets/bootstrap-reboot.css' rel='stylesheet' type='text/css')
        script(src='../../javascripts/jquery.js')
    body
        div.container
            br
            h1 Restricted Page
            p You don't have access rights to access this page. Login with appropriate account to continue.